body {
  background-color: rgb(158, 254, 222);
  font-size: 16px;
  color: black;
}

.title {
  font-size: 12em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(58, 58, 58);
  text-shadow: 1px 1px 1px 1px;
}

h3 {
  padding-top: 0.25;
}

h5 {
  padding-top: 2px;
  color: rgb(107, 107, 107);
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.25);
}

p {
  margin: 1.5em 0 3em 0;
  letter-spacing: 1.5px;
}

.vertical-timeline-element-subtitle{
  color: rgb(19, 19, 19);
  text-transform: uppercase;
  font-size: 15px;
}

.vertical-timeline-element-title{
  text-transform: uppercase;
}

